<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<h2>Welcome To Maltreba API!</h2>
<p style="font-size: 1.5em;">This API provides you data related to Chinook Store.</p>
<p style="font-size: 1.5em;">&nbsp;</p>
<p style="font-size: 1.5em;">Static API</p>
<p style="font-size: 1.5em;">/playlist</p>
<p><strong>Examples</strong></p>
<p><a href="https://maltreba-api.herokuapp.com/playlist">https://maltreba-api.herokuapp.com/playlist</a></p>
<p style="font-size: 1.5em;">Dynamic API</p>
<div>
<div>/customer/&lt;country&gt;/&lt;year&gt;</div>
<div>/product/track/&lt;Genre&gt;</div>
<div>/sales/&lt;year&gt;</div>
<div>&nbsp;</div>
<div><strong>Examples</strong></div>
<div><a href="https://maltreba-api.herokuapp.com/customer/USA/2009">https://maltreba-api.herokuapp.com/customer/USA/2009</a></div>
<div><a href="https://maltreba-api.herokuapp.com/product/track/Pop">https://maltreba-api.herokuapp.com/product/track/Pop</a></div>
<div><a href="https://maltreba-api.herokuapp.com/sales/2009">https://maltreba-api.herokuapp.com/sales/2009</a></div>
</div>